body {
  margin: 0;
  padding: 0;
  font-family: Cormorant;
  font-size: 12pt;
}

hr {
  border: none;
  height: 0.5px;
  margin-top: 1rem;
  background-color: grey;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  padding-top: 1rem;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
  padding-left: 0.25rem;
}

h5 {
  margin: 0;
  padding: 0;
}

.justify {
  text-align: justify;
}

.full-width {
  width: 100%;
  border-collapse: collapse;
}

{# .full-width td {
  border: 0.25px;
  border-color: black;
  border-style: solid;
} #}

.right {
  text-align: right;
}

.icon {
  width: 100%;
  vertical-align: middle;
}

.contact-icon {
  width: 3%
}

.left-column {
  vertical-align: top;
  width: 6%;
}

.role {
  font-size: 11pt;
  font-style: italic;
  padding-left: 0.25rem;
}

.top-gap {
  padding-top: 0.5rem;
}

.left-gap {
  padding-left: 1rem;
}

.right-gap {
  padding-right: 1rem;
}

.qualification {
  margin-left: 0.25rem;
}

.qualification a {
  text-decoration: none;
  color: grey;
}

.mono {
  font-family: CutiveMono;
  font-size: 7pt;
  color: grey;
}

.qualification-icon-column {
  margin-left: 0.25rem;
  width: 12%;
}

.qualification-date-column {
  vertical-align: top;
  width: 20%;
}

.date-range-column {
  width: 35%;
}

.one-third-icon-spacer {
  height: 0.5rem;
  padding: 0;
  margin:0;
  text-align: center;
  vertical-align: middle;
}

.dot {
  height: 0.45rem;
  width: 0.45rem;
  border: 0.05rem solid #bbb;
  border-radius: 50%;
  display: inline-block;
}

.right-line {
  border-right: 0.5px solid #bbb;
}
