@font-face {
  font-family: RedHatDisplay;
  src: url('file://{{base_path}}/font/red-hat-display/RedHatDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: RedHatDisplay;
  font-style: italic;
  src: url('file://{{base_path}}/font/red-hat-display/RedHatDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: Comfortaa;
  src: url('file://{{base_path}}/font/comfortaa/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
  font-family: SourceSerif4;
  src: url('file://{{base_path}}/font/source-serif-4/SourceSerif4-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: Cormorant;
  src: url('file://{{base_path}}/font/cormorant/Cormorant-VariableFont_wght.ttf');
}

@font-face {
  font-family: Cormorant;
  font-style: italic;
  src: url('file://{{base_path}}/font/cormorant/Cormorant-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: CutiveMono;
  src: url('file://{{base_path}}/font/cutive-mono/CutiveMono-Regular.ttf');
}
